@charset "utf-8";
/* Layout */
<!-- HEADER
* {
	box-sizing:border-box;
	}
body{
	width:100% !important;
	height:100%;
	}	
hr{
	border:0px;
	height:1px;
	background-color:#85adad;
	}

/*HEADER DIV*/	
.header_container{
	position:relative; /* khi tang kich co no se khong de len cac doi tuong khac */
	overflow:hidden;
	left:0px;
	top:0px;
	width:100%;
	height:auto;
	background:#FFF;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* Safari */
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	z-index:1;
	}
button{
	position:absolute;
	margin-top:auto;	
	width:auto;
	height:auto;
	background-color:#fff;
	border:1px solid #2ad0a2; /* khung do day 1px va co mau #2ad0a2 */
	border-radius:25px;
	transition:all 0.2s ease-in-out;
	}
button a{
	text-decoration:none;
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	color:#2ad0a2;
	text-align:center;
	padding:6px 10px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	}
button a:hover, a:focus{
	text-decoration:none;
	color:#2ad0a2;
	}
button:hover{
	border-color:#2ad0a2;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(103, 175, 233, 0.6);
	}
	
.searching {
	width:100%;
	height:auto;
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	padding:6px 10px;
	border:1px solid #2ad0a2;
	border-radius:25px;
	transition:all 0.2s ease-in-out;
	}
.searching:focus{
	border-color:#2ad0a2;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(103, 175, 233, 0.6);
	}
/*END HEADER DIV*/



/*BANNER*/
.slideImage_container{
	position:absolute;
	float:left;
	top:auto;
	left:0px;
	width:100%;
	height:auto; /* khong bi tran nen co de co dinh la 600px */
	background-color:#fff;
	}
.caption_hi{ /* Khung caption */
	position:relative;
	overflow:hidden;
	top:auto;
	margin:0%;
	height:300px;
	width:100%;
	background-color:#fff;
	}
.caption_hi /* Ảnh nền cho phần caption */
{
	background-image:url(../img/slide_31.jpg); /*Vì thư mục hình nằm khác với thư mục chứa file css */
	background-repeat:no-repeat;
	background-size:cover;
	}
.texture{ /* Caption */
	top:auto;
	text-align:center;
	font-family:"Courier New", Courier, monospace;
	font-size:30px;
	color:#444;
	padding:6px 30px;
	}
.texture_border{ /* Tạo khung mờ cho caption */
	margin:5%;
	border-radius:5px;
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.25); /* Safari */
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
  	background: rgba(255, 255, 255, 0.25);
  	border-radius: 3px;
	}

/*	
.slideShow{
	overflow:hidden; /* Vì các tấm ảnh bị tràn và nằm bên phải khung slide nên phải ẩn
	height:auto;
	}
.slideShow figure div{
	width:100%;
	float:left;
	}
.slideShow figure img{
	width:20%;
	float:left;
	opacity:0.85;
	}
.slideShow figure{
	position:relative;
	width:500%;
	animation: 50s slideShow infinite; /* Thoi gian de hoan thanh toan bo slide 
	}
@keyframes slideShow
{
	 /* left: 100% la ti le tam anh se chay qua la bao nhieu %...toan bo hay chi 1 phan 
	0%{left:0}
	10%{left:0}
	12%{left:-100%}
	22%{left:-100%}
	24%{left:-200%}
	34%{left:-200%}
	36%{left:-300%}
	46%{left:-300%}
	48%{left:-400%}
	58%{left:-400%}
	60%{left:-300%}
	70%{left:-300%}
	72%{left:-200%}
	82%{left:-200%}
	84%{left:-100%}
	94%{left:-100%}
	96%{left:0}
	100%{left:0}
	} */
/*END BANNER*/



.content_container{
	position:absolute;
	width:100%;
	height:auto;
	display:block;
	background-color:#f5f5f0;
	}
.content_div{
	margin-top:5%;
	margin-left:8%;
	width:84%;
	height:auto;
	background-color:#f5f5f0;
	/*border:1px solid #333;*/
	overflow:hidden;
	}

/* OBJECT */
/*Gây quỹ cho gopGIO*/
/*Sẽ mở rộng sau
.object_quygopGIO{
	margin-top:0%;
	margin-left:1.8%;
	width:96.2%;
	height:auto;
	float:left;
	overflow:hidden;
	background-color:#ffffff;
	border-radius:5px;
	box-shadow:0px 1px 5px rgba(0,0,0,0.4);
	}
.title_quygopGIO{
	width:100%;
	height:auto;
	text-align:center;
	padding:6px 20px;
	font:20px/20px "Courier New", Courier, monospace;
	}
*/	
/*Khung chứa Object*/
.object_container{
	margin-bottom:4%;
	margin-left:1.8%;
	background-color:#ffffff;
	width:350px;
	height:auto;
	float:left;
	border-radius:4px;
	-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.4); /* Safari*/
	-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.4);
	box-shadow:0px 0px 3px rgba(0,0,0,0.4);
	}

.object_container a:hover{
	text-decoration:none;
	}
	
/*Hình ảnh Object*/
.object_container img{
	max-width:100%;
	max-height:auto;
	}
	
/*Khung hiển thị các mức tiền*/
.object_statusDonateBorder{
	margin-top:5%;
	margin-left:1%;
	width:98%;
	border-radius:0px;
	}
	
/*Hiển thị số tiền hiện được quyên góp*/
.object_donatedMoney{
	margin-left:0%;
	padding:1px 5px;
	font-size:22px;
	color:#737373;
	/*Tao khung cho chu*/
	/*text-shadow:1px 0px 0 #fff, -1px 0px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;*/
	font:20px/20px Consolas;
	display:inline;
	}
	
/*Hiển thị số tiền cần*/
.object_donateNeeding{
	margin-left:0%;
	padding:1px 5px;
	font-size:22px;
	font-weight:bold;
	color:#2ad0a2;
	/*Tao khung cho chu
	text-shadow:1px 0px 0 #2ad0a2, -1px 0px 0 #2ad0a2, 0px 1px 0 #2ad0a2, 0px -1px 0 #2ad0a2, 1px 1px 0 #2ad0a2, -1px -1px 0 #2ad0a2, -1px 1px 0 #2ad0a2, 1px -1px 0 #2ad0a2;*/
	font:20px/20px Consolas;
	text-decoration:none;
	display:inline;
	}

/*Khung hiển thị thông tin cơ bản của Object*/
.object_caption{
	margin:0%;
	width:100%;
	height:30%;
	}
	
/*Tiêu đề Object*/
.object_title{
	margin-left:3%;
	text-align:left;
	font-size:22px;
	font:18px/18px Sitka Text;
	font-weight:bold;
	}

/*Chi tiết ngắn của Object*/
.object_shortDetail{
	margin-left:3%;
	width:94%;
	text-align:justify;
	text-justify:inter-word;
	text-decoration:none;
	font-size:16px;
	font:15px/20px Sitka Text;
	color:#737373;
	}
.object_title a{
	}
.object_title a:focus{}
.object_title a:hover{}



.footer_container{
	background-image:url(../img/slide_3.jpg); /*Vì thư mục hình nằm khác với thư mục chứa file css */
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:200px;
	overflow:hidden;
	background-color:#fff;
	}